<!--get's user name -->
<section>
    <div class="hero-content">
        <div class="hero-title">
            <img src="../assets/images/bChat3.png" alt="bloc chat logo">
            <p>{{messages}}</p>
            <h1 >{{welcome}}</h1>
            <br>
            <form class="user-bar" ng-submit = "addMessage()">
                <input type="text" placeholder="enter a username..." ng-model = "message">
                <br>
                <input type="submit"> <!--class="sign-bar" -->
            </form>
        </div>
    </div> 
</section>
 