<!--Logo box--> 
<div class="logo-box">
    <img src="/assets/images/bChat3.png" alt="bloc chat logo">
</div>
<!--Title bar-->
<div class="title-bar">
    <h1>{{current.name}}</h1>
</div>
<!--Navigation & list of chat rooms-->
<nav class="navbar">
    <!--Chat rooms-->
    <form class="nav-list-first" ng-submit="chatRooms.add(room)">
        <!--Create a chat room name-->
        <input placeholder="Create Room..." ng-model="newRoomName"/>
        <!--button that pushes room name to firebase-->
        <button class="sign-bar" class ="ng-pristine" type="submit">Go!</button>
    </form>
    <!--List of all current chat rooms-->
    <table class="nav-list">
		<tr class="nav-list">
			<td>Active Rooms: {{ chatRooms.room.length }} </td>
			<td></td>
		</tr>
        <tr ng-repeat="room in chatRooms.room" class="nav-list-room" >
            <!--Current room template -->
            <td ng-click="chatRooms.set(room)">Room {{ $index + 1 }}: {{room.name | limitTo:25 }}</td>
            <!-- button that DELETE a room from firebase -->
            <td ng-click="chatRooms.remove(room)" type="click">x</td>
        </tr>
    </table>
</nav>
<!--User name-->
<div class="user-name">
	<h5>User Name: {{currentUserName.show}}</h5>
</div>
<!--Message display area-->
<div class="body-pannel">
    <div ng-hide ="current.roomId">
        <h2>{{welcome}}</h2>
    </div>
    <!--List of all current message in a selected room-->
    <table ng-repeat="msg in messages" ng-show="current.roomId == msg.roomId">
        <tr>
            <!--Message template-->
            <td>{{msg.userName}} {{msg.content}} {{msg.sentAt| date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <!--button that deletes message from firebase -->
            <td><button class="btn" ng-click="chatMessages.remove(msg)" type="click">x</button></td>   
        </tr>
    </table>
</div>
<!--Create a message/ footer-->
<div class="footer-bar">
    <form class="search-bar" ng-submit="chatMessages.add()">
        <!--form box to input text -->
        <input placeholder="Type a message..." ng-model="msgText"/>
        <!--button that adds message to firebase -->
        <button class="links-container" type="submit">Submit</button>
    </form>
</div>

 