<section>
    <h3>Submit.html</h3>
    <p>Lorem ipsum dolor sit amet, nam munere forensibus ut. Mei an     partem urbanitas. Qui dignissim reprimique interpretaris in. Ad mel postea latine minimum, ad mei populo habemus, vix detracto postulant eu. Putent cetero aliquam nec ut, quaestio persecuti cotidieque id duo. Ad mel ferri nominavi oportere. Ad mea utinam theophrastus definitionem, ea per quidam quaeque adolescens.</p>
    <ul>
        <li>Hello Friendss.</li>
        <li ng-repeat="message in messages">Username:{{ message.user }}: {{ message.text }}</li>
    </ul>
    <ul>
        <li ng-repeat="message in messages"> {{ message.user }}: {{ message.text }}
            <button ng-click="messages.$remove(message)">x</button>
        </li>
    </ul>
    <p>Te mei vero cetero percipit, doctus pertinacia eu vix, ei utinam indoctum quo. Ne mei solum dolor labores, per ex volutpat erroribus. Sit intellegat cotidieque cu, eu populo laboramus has. Dicit delenit adipiscing qui an, populo voluptua in qui, timeam tamquam et qui. Quando scripta feugiat vis in, cum at aperiam sensibus eloquentiam. Dolore elaboraret conclusionemque ius ne, in veritus perfecto sapientem sea.</p>
    
</section>
 